#
# environment
#
NODE_ENV=development
PORT=5000
DEMO=true
ADMIN_EMAIL=
DEMOPASS=123qwe

#
# web server
#
WEB_CONCURRENCY=3
WEB_HOST=localhost
WEB_PORT=5000
WEB_PROTOCOL=http

#
# mongodb
#
# production mode in development server
#
MONGO_NAME=voa-development
MONGO_USER=voa
MONGO_PASS=voa-pass
MONGO_HOST=localhost
MONGO_PORT=27017

#
MONGO_NAME_DEVELOPMENT=voa-development
MONGO_USER_DEVELOPMENT=voa
MONGO_PASS_DEVELOPMENT=voa-pass
MONGO_HOST_DEVELOPMENT=localhost
MONGO_PORT_DEVELOPMENT=27017

#
MONGO_NAME_TEST=voa-test
MONGO_USER_TEST=voa
MONGO_PASS_TEST=voa-pass
MONGO_HOST_TEST=localhost
MONGO_PORT_TEST=27017

#
#
SECRET_KEY=
#

#
# SMTP
#
SMTP_SERVICE=SENDGRID
SMTP_SERVICE_DEVELOPMENT=ETHEREAL

#
# SMTP ethereal (for development)
#
SMTP_ETHEREAL_HOST=smtp.ethereal.email
SMTP_ETHEREAL_PORT=587
SMTP_ETHEREAL_USER=
SMTP_ETHEREAL_PASS=

#
# SMTP sendgrid (for production)
#
SMTP_SENDGRID_HOST=smtp.sendgrid.net
SMTP_SENDGRID_PORT=587
SMTP_SENDGRID_USER=
SMTP_SENDGRID_PASS=

#
# email
#
EMAIL_FROM=noreplay@localhost
