<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script src="/public/assets/application.js" defer></script>

    <% if (env === 'development') { %>
      <script src="/reload/reload.js" async></script>
    <% } %>
  </head>
  <body>
    <%- content %>
  </body>
</html>
