<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= title %></title>
    <%- assets %>

    <% if (env === 'development') { %>
      <script src="/reload/reload.js" async></script>
    <% } %>
  </head>
  <body>
    <%- content(messages) %>
  </body>
</html>
