$primary: #0366d6;
$pagination-disabled-color: #d1d5da;
$pagination-disabled-bg: #fafbfc;
$gray: #bdbdbd;

// tooltip
$tooltip-opacity: 1;
$tooltip-padding-y: 12px;
$tooltip-padding-x: 24px;
$tooltip-bg: black(.75);
$tooltip-color: #fff;

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}
