$std-offset: 6px;
$double-offset: 12px;
$half-offset: 3px;

.bg-dark-lighter {
  background: lighten($gray-800, 10%);
  color: $gray-300;

  &.form-control:focus {
    background: lighten($gray-800, 20%);
    color: $gray-300;
  }
}

.border-top {
  border-top: 1px $gray-300 solid;
}

.main {
  padding-top: $std-offset;
}

.page-header {
  padding: $std-offset;
  text-align: center;
}

.footer {
  font-size: 12px;
}

.list-simple {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    padding: $std-offset 0;
    border-bottom: 1px solid $gray-300;
    overflow: auto;

    &:first-child {
      border-top: 1px solid $gray-300;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.gap {
  display: inline-block;
}

.sep {
  padding: 0 $half-offset;
}

.counter {
  padding: $half-offset $std-offset;
  background: black(.1);
  color: $gray-600;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}

.list-group-item {
  color: $primary;

  &:hover {
    color: $primary;
  }

  &.selected {
    color: $gray-900;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: $pink;
      content: "";
    }
  }
}

.info-bar {
  color: $gray-600;

  button {
    background: $gray-100;
    color: $gray-700;

    &:hover {
      background: $gray-200;
      color: $gray-700;
    }

    i {
      font-style: normal;
    }
  }
}

.voa-board {
  .voa-item {
    padding: $double-offset 0;
    border-bottom: 1px solid $gray-300;

    &:last-child {
      border-bottom: 0;
    }

    .slash {
      padding-top: 28px;
      color: $gray-600;
      font-size: 21px;
    }
  }
}

.voa-oi-sm {
  font-size: .8em;
}

.choice-core {
  .btn-del-choice {
    display: none;
  }
}

.poll-show {
  h1 {
    font-size: 1.5em;
    font-weight: 400;
  }

  h2 {
    font-size: 1.3em;
    font-weight: 400;
  }
}

.chart-container {
  position: relative;
}

