$std-offset: 6px;
$double-offset: 12px;
$half-offset: 3px;

.bg-dark-lighter {
  background: lighten($gray-800, 10%);
  color: $gray-300;

  &.form-control:focus {
    background: lighten($gray-800, 20%);
    color: $gray-300;
  }
}

.border-top {
  border-top: 1px $gray-300 solid;
}

.main {
  padding-top: $std-offset;
}

.page-header {
  padding: $std-offset;
  text-align: center;
}

.footer {
  font-size: 12px;
}

.gravatar {
  padding: $std-offset $std-offset $std-offset 0;
}

.users {
  margin: 0;
  list-style: none;

  li {
    padding: $std-offset 0;
    border-bottom: 1px solid $gray-300;
    overflow: auto;
  }
}

.gap {
  display: inline-block;
}
