<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
  </head>
  <body>
    <%- content %>
    <script src="/public/assets/application.js"></script>
    <script src="/reload/reload.js"></script>
  </body>
</html>
