<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <%- content %>
<script type="text/javascript" src="../../../public/assets/app.81bd92559d508958dd9f.js"></script></body>
</html>
